@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, forest;
}

* {
  scroll-behavior: smooth;
}

html {
  transition: background-color 0.4s ease, color 0.4s ease;
}

.feature-item {
  background-image: url("../src/assets/home/featured.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* //////// */
html,
body {
  height: 100%;
  overflow: auto;
}
#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* This makes main take available vertical space */
}
