@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default, dark --prefersdark, forest;
}

.display {
  font-family: "Playfair Display", serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

* {
  scroll-behavior: smooth;
}

html {
  transition: background-color 0.4s ease, color 0.4s ease;
}

.feature-item {
  background-image: url("../src/assets/home/featured.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* //////// */
html,
body {
  height: 100%;
  overflow: auto;
}
#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* This makes main take available vertical space */
}
